<!DOCTYPE html>
<html lang="en" ng-app="remoteJobApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rang2Ne</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
		padding-top: 50px;
	}
	.starter-template {
		padding: 40px 15px;
		text-align: center;
	}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script>
	angular.module('remoteJobApp', [])
	.controller('RemoteJobController', function($scope, $http) {
		$scope.getList = function() {
			$http.get('/api/getRemoteJobInfo').
			success(function(data, status, headers, config) {
				$scope.list = data.ResultContent
				console.log(data.ResultContent);
			}).
			error(function(data, status, headers, config) {
			});	
		};
		
		$scope.startBatch = function(){
			$http.get('/api/batchNow').
			success(function(data, status, headers, config) {
				if(data.ResultCode == 200) {
					alert("bach complete");
					$scope.getList();
				}
			}).
			error(function(data, status, headers, config) {
			});
		};
		$scope.getList();
	});
	</script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">Rang2Ne</a>
		    </div>
		    <div id="navbar" class="collapse navbar-collapse">
			    <ul class="nav navbar-nav">
				    <li class="active"><a href="#">Home</a></li>
				    <li><a href="#about">About</a></li>
				    <li><a href="#contact">Contact</a></li>
			    </ul>
		    </div><!--/.nav-collapse -->
	    </div>
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="RemoteJobController">
		<div class="starter-template">
			<h1>Remote Job List</h1>
			<p class="lead">Remote Job List</p>
			<ul class="list-unstyled">
                <li><button ng-click="startBatch()">Start Batch</button></li>
            </ul>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="text-center">회사</th>
						<th class="text-center">업데이트 일</th>
						<th class="text-center">등록일</th>
						<th class="text-center">링크</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="job in list">
						<td ng-bind="job.Company"></td>
						<td ng-bind="job.UpdateDate"></td>
						<td ng-bind="job.Timestamp.substring(0, 16)"></td>
						<td><a href="{{job.Url}}" target="_blank">[Link]</a></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
