<div>
    <div class="starter-template">
        <h1>Remote Meeting</h1>
        <p class="lead">Simple Remote Meeting Project</p>
        <video id="localVideo" autoplay muted></video>
        <video id="remoteVideo" autoplay></video>
        <div>
            <button id="startButton" ng-click="start()">Start</button>
            <button id="callButton" ng-click="call()">Call</button>
            <button id="hangupButton" ng-click="hangup()">Hang Up</button>
        </div>
    </div>
</div>
<script src="/views/js/remote-meeting.js"></script>